<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ title }}</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/pico.min.css">
  <link rel="stylesheet" href="css/style.css">
  <link href="pagefind/pagefind-ui.css" rel="stylesheet">
  <script src="pagefind/pagefind-ui.js"></script>
</head>
<body>

  <div class="container"> 
    <h1>{{ title }}</h1>
    
    <input type="text" id="search-input" placeholder="Search...">
      <select id="software-filter">
      <option value="">All</option>
      <option value="SteamVR">SteamVR</option>
      <option value="Monado">Monado</option>
      <option value="ALVR">ALVR</option>
      <option value="wivrn">wivrn</option>
      </select>


      <select id="rating-filter" disabled>
      <option value="">Any</option>
      <option value="1">Perfect</option>
      <option value="2">Requires manual configuration or better</option>
      <option value="3">Playable with graphical/controller issues or better</option>
      <option value="4">Unplayable because of graphical/controller issues or better</option>
      <option value="5">Crashes or won't start or better</option>
      </select>

  </div>

<div id="search" class="container game-list games-container"></div>
<!--<div id="game-list" class="container game-list games-container">
    {% for games in collections.gamesList %}
    <a href="{{ games.url | url }}" class="game-link">
      <article class="game-card">
        
        <img class="game-img" src="{{ games.data.image }}" alt="Descripción de {{ games.data.title }}" >
        <div class="game-info">
            
            <h3>{{ games.data.title }}</h3>
                    <div class="rating-container">
                        {% set steamVR_total = 0 %}
                        {% set monado_total = 0 %}
                        {% set alvr_total = 0 %}
                        {% set wivrn_total = 0 %}
                        {% set opinions_count = games.data.opinions | length %}

                        {% for opinion in games.data.opinions %}
                        
                        {% set steamVR_total = steamVR_total + opinion.steamVR %}
                        
                        {% set monado_total = monado_total + opinion.monado %}
                        {% set alvr_total = alvr_total + opinion.alvr %}
                        {% set wivrn_total = wivrn_total + opinion.wivrn %}
                        {% endfor %}

                        {% set steamVR_avg = steamVR_total / opinions_count %}

                        {% set monado_avg = monado_total / opinions_count %}
                        {% set alvr_avg = alvr_total / opinions_count %}
                        {% set wivrn_avg = wivrn_total / opinions_count %}                        



                        <table class="rating-table">
                            <tr class="software-list">
                                <td class="rating-text">SteamVR</td>
                                <td class="rating-text">Monado</td>
                                <td class="rating-text">ALVR</td>
                                <td class="rating-text">wivrn</td>
                            </tr>
<tr class="rating-list">
    {% set icons = {
        '1': 'fa-solid fa-face-laugh-beam',
        '2': 'fa-solid fa-face-smile',
        '3': 'fa-solid fa-face-meh',
        '4': 'fa-solid fa-face-frown',
        '5': 'fa-solid fa-face-angry'
    } %}

    <td>
        {% set steamVR_avg_rounded = steamVR_avg | round %}
        {% if steamVR_avg_rounded %}
            <i class="rating rating-{{ steamVR_avg_rounded }} {{ icons[steamVR_avg_rounded|string] }} icon-dark icon-size" title="Media: {{ steamVR_avg_rounded }}"></i>
        {% else %}
            <i class="rating rating-unknown fa-solid fa-circle-question icon-dark icon-size" ></i>
        {% endif %}
    </td>

    <td>
        {% set monado_avg_rounded = monado_avg | round %}
        {% if monado_avg_rounded %}
            <i class="rating rating-{{ monado_avg_rounded }} {{ icons[monado_avg_rounded|string] }} icon-dark icon-size" title="Media: {{ monado_avg_rounded }}"></i>
        {% else %}
            <i class="rating rating-unknown fa-solid fa-circle-question icon-dark icon-size" ></i>
        {% endif %}
    </td>

    <td>
        {% set alvr_avg_rounded = alvr_avg | round %}
        {% if alvr_avg_rounded %}
            <i class="rating rating-{{ alvr_avg_rounded }} {{ icons[alvr_avg_rounded|string] }} icon-dark icon-size" title="Media: {{ alvr_avg_rounded }}"></i>
        {% else %}
            <i class="rating rating-unknown fa-solid fa-circle-question icon-dark icon-size" ></i>
        {% endif %}
    </td>

    <td>
        {% set wivrn_avg_rounded = wivrn_avg | round %}
        {% if wivrn_avg_rounded %}
            <i class="rating rating-{{ wivrn_avg_rounded }} {{ icons[wivrn_avg_rounded|string] }} icon-dark icon-size" title="Media: {{ wivrn_avg_rounded }}"></i>
        {% else %}
            <i class="rating rating-unknown fa-solid fa-circle-question icon-dark icon-size" ></i>
        {% endif %}
    </td>
</tr>
                        </table>
                    </div>
                
        </div>
      </article>
      </a>
    {% endfor %}
  </div>-->
  
 <!-- en una etiqueta meta se supone que no se carga en el DOM y luego se podría recuperar con algo como este ejemplo
    html
    <div id="myDiv">Hola mundo</div>
    js
    const templateContent = document.getElementById('template').content;
    const div = templateContent.querySelector('#myDiv');
    console.log(div.textContent); // "Hola mundo"

    el contenido que tengo comentado ya se genera comentado en la pagina tambien con algun regex
  -->
<script>
  let resultShow;

  window.addEventListener('DOMContentLoaded', async (event) => {
    const pagefind = await import("./pagefind/pagefind.js");
    const search = await pagefind.search(null).then(function(response) {
      document.getElementById('search').innerHTML = '';
      let results = response.results;
      if (results.length > 20) {
        results = results.slice(0, 20);
      }
      console.log(results.length);
      results.forEach(async function(r) {
        const data = await r.data().then(function (response) {
          document.getElementById('search').innerHTML += '<p>' + response.content + '</p>';
        });
      })
    });
    /*let search = new PagefindUI({
      element: "#search",
      showSubResults: false,
      processResult: function (result) {

        console.log(result);
        resultShow = result;
        console.log(resultShow);
        // Llamar a la función para obtener los datos de ALVR
        
        result = await fetchGameData('244210').then((alvrValue) => {
          result.excerpt = alvrValue; // Asignar el valor de ALVR al resultado
          console.log('ALVR Value:', alvrValue);
          return result;
        });

        
        console.log('RESULTADOOOOO:', result);
      }
    });*/
  });

  // Función para obtener los datos del juego usando fetch
  async function fetchGameData(id) {
    try {
      // Hacer fetch al archivo JSON generado por Eleventy
      const response = await fetch('games-data.json');
      const gamesData = await response.json();
      
      // Buscar el juego por id
      const game = gamesData.find(game => game.id === id);
      
      // Si se encuentra el juego, devolver el valor de ALVR
      if (game) {
        return game.averages.alvr;
      } else {
        console.log(`No se encontró el juego con el id: ${id}`);
        return null;
      }
    } catch (error) {
      console.error("Error al obtener los datos del juego:", error);
      return null;
    }
  }
</script>


<section>
  <!--


-->
</section>

<script>
async function applyFilters() {
  const softwareValue = document.getElementById('software-filter').value.toLowerCase();
  const ratingFilter = document.getElementById('rating-filter');
  const ratingValue = ratingFilter.value;
  const searchValue = document.getElementById('search-input').value.toLowerCase(); 

  const pagefind = await import("./pagefind/pagefind.js");

  if (typeof pagefind !== 'undefined') {
    pagefind.destroy();
    pagefind.init();
  }

  const filters = {};
  filters['filters'] = {};
  filters['filters'][softwareValue] = [ratingValue];
  console.log(filters);
  let searchInput = null;
  if (searchValue !== '') {
    searchInput = searchValue;
  } else {
    searchInput = null;
  }
  const search = await pagefind.search(searchInput, filters).then(function(response) {
    document.getElementById('search').innerHTML = '';
    let results = response.results;
    console.log(results);
    if (results.length > 20) {
      results = results.slice(0, 20);
    }
    results.forEach(async function(r) {
      const data = await r.data().then(function(response) {
        console.log(response);
        document.getElementById('search').innerHTML += '<p>' + response.content + '</p>';
      });
    })
  });


  const games = document.querySelectorAll('.game-card');

  if (softwareValue === "") {
    ratingFilter.value = "";
    ratingFilter.disabled = true;

    games.forEach(game => {
      const gameTitle = game.querySelector('h3').innerText.toLowerCase();
      if (searchValue === "" || gameTitle.includes(searchValue)) {
        game.parentElement.style.display = ''; 
      } else {
        game.parentElement.style.display = 'none'; 
      }
    });
    return; 
  } else {
    ratingFilter.disabled = false;
  }

  games.forEach(game => {
    const gameInfo = game.querySelector('.game-info').innerText.toLowerCase();
    const gameTitle = game.querySelector('h3').innerText.toLowerCase();

    // Aquí filtramos por la clase 'rating-X', donde X es el valor de la media
    const ratings = game.querySelectorAll('.rating');
    const satisfiesSoftware = gameInfo.includes(softwareValue);
    const satisfiesSearch = searchValue === "" || gameTitle.includes(searchValue);

    let satisfiesRating = true;

    // Mapa de ratings y software 
    const softwareList = game.querySelectorAll('.software-list td');
    const ratingList = game.querySelectorAll('.rating-list td');
    const ratingMap = new Map();
    softwareList.forEach((sft, k) => {

      const classList = Array.from(ratingList[k].querySelector('i').classList);
      const ratingClass = classList.find(c => c.startsWith('rating-'));
      const ratingNumber = parseInt(ratingClass.split('-')[1]);

      ratingMap.set(sft.innerText.toLowerCase(), ratingNumber);
    });

    // Aunque a este caso nunca se podría llegar ahora mismo, porque el filtro de rating
    // está deshabilitado hasta que se indica un software en el filtro de software.
    if (ratingValue && !softwareValue && !searchValue) {
      satisfiesRating = ratingMap.values().some(rating => {
        // Aquí comprobamos si la clase 'rating-X' existe para el valor que queremos
        return rating <= ratingValue;
      });
    } else if (ratingValue && softwareValue && !searchValue) {
      satisfiesRating = ratingMap.has(softwareValue) && ratingMap.get(softwareValue) <= ratingValue;
    }

    $satisfiesRating = satisfiesSearch && satisfiesSoftware && satisfiesRating;

    if (satisfiesSoftware && satisfiesRating && satisfiesSearch) {
      game.parentElement.style.display = ''; 
    } else {
      game.parentElement.style.display = 'none'; 
    }
  });
}

document.getElementById('software-filter').addEventListener('change', applyFilters);
document.getElementById('rating-filter').addEventListener('change', applyFilters);
document.getElementById('search-input').addEventListener('input', applyFilters);

</script>



  
</body>
</html>
