---
permalink: "games/{{ page.fileSlug }}.html"
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../css/pico.min.css">
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>

                     {% set icons = {
                        '1': 'fa-solid fa-face-laugh-beam',
                        '2': 'fa-solid fa-face-smile',
                        '3': 'fa-solid fa-face-meh',
                        '4': 'fa-solid fa-face-frown',
                        '5': 'fa-solid fa-face-angry'
                    } %}   
 <div class="game-header">   
    <div class="game-header-left">
        <img data-pagefind-meta="image[src], image_alt[alt]" class="game-image" src="{{ image }}" alt="Descripción de {{ title }}">
        <h1>{{ title }}</h1>
    </div>
    <div class="rating-container">
    {% set steamVR_total = 0 %}
    {% set monado_total = 0 %}
    {% set alvr_total = 0 %}
    {% set wivrn_total = 0 %}
    {% set opinions_count = opinions | length %}

    {% for opinion in opinions %}
        {% set steamVR_total = steamVR_total + opinion.steamVR %}
        {% set monado_total = monado_total + opinion.monado %}
        {% set alvr_total = alvr_total + opinion.alvr %}
        {% set wivrn_total = wivrn_total + opinion.wivrn %}
    {% endfor %}

    {% if opinions_count > 0 %}
        {% set steamVR_avg = steamVR_total / opinions_count %}
        {% set monado_avg = monado_total / opinions_count %}
        {% set alvr_avg = alvr_total / opinions_count %}
        {% set wivrn_avg = wivrn_total / opinions_count %}
    {% else %}
        {% set steamVR_avg = 0 %}
        {% set monado_avg = 0 %}
        {% set alvr_avg = 0 %}
        {% set wivrn_avg = 0 %}
    {% endif %}

    <table class="rating-table">
        <tr class="software-list">
            <td class="rating-text">SteamVR</td>
            <td class="rating-text">Monado</td>
            <td class="rating-text">ALVR</td>
            <td class="rating-text">wivrn</td>
        </tr>
        <tr class="rating-list">
            {% set icons = {
                '1': 'fa-solid fa-face-laugh-beam',
                '2': 'fa-solid fa-face-smile',
                '3': 'fa-solid fa-face-meh',
                '4': 'fa-solid fa-face-frown',
                '5': 'fa-solid fa-face-angry'
            } %}

            <td>
                {% set steamVR_avg_rounded = steamVR_avg | round %}
                {% if steamVR_avg_rounded %}
                    <i data-pagefind-meta="steamvr[steamvr]" data-pagefind-filter="steamvr[steamvr]" steamvr="{{ steamVR_avg_rounded }}" class="rating rating-{{ steamVR_avg_rounded }} {{ icons[steamVR_avg_rounded|string] }} icon-dark icon-size" title="Media: {{ steamVR_avg_rounded }}"></i>
                {% else %}
                    <i class="rating rating-unknown fa-solid fa-circle-question icon-dark icon-size"></i>
                {% endif %}
            </td>

            <td>
                {% set monado_avg_rounded = monado_avg | round %}
                {% if monado_avg_rounded %}
                    <i data-pagefind-meta="monado[monado]" data-pagefind-filter="monado[monado]" monado="{{ monado_avg_rounded }}" class="rating rating-{{ monado_avg_rounded }} {{ icons[monado_avg_rounded|string] }} icon-dark icon-size" title="Media: {{ monado_avg_rounded }}"></i>
                {% else %}
                    <i class="rating rating-unknown fa-solid fa-circle-question icon-dark icon-size"></i>
                {% endif %}
            </td>

            <td>
                {% set alvr_avg_rounded = alvr_avg | round %}
                {% if alvr_avg_rounded %}
                    <i data-pagefind-meta="alvr[alvr]" data-pagefind-filter="alvr[alvr]" alvr="{{ alvr_avg_rounded }}" class="rating rating-{{ alvr_avg_rounded }} {{ icons[alvr_avg_rounded|string] }} icon-dark icon-size" title="Media: {{ alvr_avg_rounded }}"></i>
                {% else %}
                    <i class="rating rating-unknown fa-solid fa-circle-question icon-dark icon-size"></i>
                {% endif %}
            </td>

            <td>
                {% set wivrn_avg_rounded = wivrn_avg | round %}
                {% if wivrn_avg_rounded %}
                    <i data-pagefind-meta="wivrn[wivrn]" data-pagefind-filter="wivrn[wivrn]" wivrn="{{ wivrn_avg_rounded }}" class="rating rating-{{ wivrn_avg_rounded }} {{ icons[wivrn_avg_rounded|string] }} icon-dark icon-size" title="Media: {{ wivrn_avg_rounded }}"></i>
                {% else %}
                    <i class="rating rating-unknown fa-solid fa-circle-question icon-dark icon-size"></i>
                {% endif %}
            </td>
        </tr>
    </table>
</div>
    <div class="rating-descriptions" data-pagefind-ignore>
        <div class="rating-desc-element">
            <i class="rating rating-0 fa-solid fa-circle-question icon-dark icon-size" title="Rating: Perfect"></i>
            <p> Unknown </p>
        </div>
        <div class="rating-desc-element">
            <i class="rating rating-1 fa-solid fa-face-laugh-beam icon-dark icon-size" title="Rating: Perfect"></i>
            <p> Perfect </p>
        </div>
        <div class="rating-desc-element"> 
            <i class="rating rating-2 fa-solid fa-face-smile icon-dark icon-size" title="Rating: Perfect"></i>
            <p> Requires manual configuration </p>  
        </div>

    </div>
        <div class="rating-descriptions" data-pagefind-ignore>

        <div class="rating-desc-element">
            <i class="rating rating-3 fa-solid fa-face-meh icon-dark icon-size" title="Rating: Perfect"></i>
            <p> Playable with graphical/controller issues </p>  
        </div>
        <div class="rating-desc-element">
            <i class="rating rating-4 fa-solid fa-face-frown icon-dark icon-size" title="Rating: Perfect"></i>
            <p> Unplayable because of graphical/controller issues </p>
        </div>
        <div class="rating-desc-element">
            <i class="rating rating-5 fa-solid fa-face-angry icon-dark icon-size" title="Rating: Perfect"></i>
            <p> Crashes or won't start </p>            
        </div>
    </div>
    
</div>

<div class="container games-container" data-pagefind-ignore>
{% for opinion in opinions %}
    <article class="game-card opinion-card">
        <div class="game-info">
            <p data-pagefind-ignore>{{ opinion.text | escapeAndReplace | safe}}</p>
            <p>{{ opinion.runtime }}</p>
            <p>{{ opinion.software }}</p>
        </div>

        <div class="rating-container" data-pagefind-weight="7">
            <table class="rating-table">
                <tr>
                    <td class="rating-text">SteamVR</td>
                    <td class="rating-text">Monado</td>
                    <td class="rating-text">ALVR</td>
                    <td class="rating-text">wivrn</td>
                </tr>
                <tr>


                    <td>
                        {% if opinion.steamVR %}
                        
                            <i class="rating rating-{{ opinion.steamVR }} {{ icons[opinion.steamVR|string] }} icon-dark icon-size" title="Rating: {{ ratings[opinion.steamVR] }}"></i>
                        {% else %}
                            <i class="rating rating-unknown fa-solid fa-circle-question icon-dark icon-size" ></i>
                        {% endif %}
                    </td>

                    <td>
                        {% if opinion.monado %}
                            <i class="rating rating-{{ opinion.monado }} {{ icons[opinion.monado|string] }} icon-dark icon-size" title="Rating: {{ ratings[opinion.monado] }}"></i>
                        {% else %}
                            <i class="rating rating-unknown fa-solid fa-circle-question icon-dark icon-size" ></i>
                        {% endif %}
                    </td>

                    <td>
                        {% if opinion.alvr %}
                            <i class="rating rating-{{ opinion.alvr }} {{ icons[opinion.alvr|string] }} icon-dark icon-size" title="Rating: {{ ratings[opinion.alvr] }}"></i>
                        {% else %}
                            <i class="rating rating-unknown fa-solid fa-circle-question icon-dark icon-size" ></i>
                        {% endif %}
                    </td>

                    <td>
                        {% if opinion.wivrn %}
                            <i class="rating rating-{{ opinion.wivrn }} {{ icons[opinion.wivrn|string] }} icon-dark icon-size" title="Rating: {{ ratings[opinion.wivrn] }}"></i>
                        {% else %}
                            <i class="rating rating-unknown fa-solid fa-circle-question icon-dark icon-size" ></i>
                        {% endif %}
                    </td>
                </tr>
            </table>

            <div class="device-info">
                <p><strong>Device:</strong> {{ opinion.device }}</p>
                <p><strong>GPU:</strong> {{ opinion.GPUVendor }}</p>
                <p><strong>Distro:</strong> {{ opinion.distro }}</p>
            </div>
        </div>
    </article>
{% endfor %}
</div>




<button data-pagefind-ignore class="report-button" onclick="redirectToGitHub()">ADD YOUR REPORT!</button>
<script>
    function redirectToGitHub() {

      const baseURL = "https://github.com/Respuit/VRDB/issues/new";
      const assignees = "";
      const labels = "documentation";
      const projects = "";
      const template = "gameTemplate.yml";
      const title = "{{ id | escape }}";

      const currentDate = new Date().toISOString().split('T')[0];

      const fullURL = `${baseURL}?assignees=${assignees}&labels=${encodeURIComponent(labels)}&projects=${projects}&template=${template}&title=${encodeURIComponent(title)}&date=${currentDate}`;

      window.location.href = fullURL;
    }
</script>
</body>
</html>
